# bucket s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_URL=
AWS_BUCKET_NAME=43200 #30 dias

#auth PKCE GENESYS
GENESYS_CLIENT_ID=
GENESYS_REGION=
GENESYS_OAUTH_REDIRECT_URI=
JWT_SECRET=
FRONT_URL=