# bucket s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_BUCKET_NAME=
PRESIGNED_URL_EXPIRES_IN=604800 # 7 dias em segundos (máximo AWS S3 presigned URL)

# auth PKCE GENESYS
GENESYS_CLIENT_ID=
GENESYS_REGION=sae1.pure.cloud
GENESYS_OAUTH_REDIRECT_URI=http://localhost:3000/oauth/callback #para rodar em dev
# GENESYS_OAUTH_REDIRECT_URI=https://upload-redeamericas.s4me.app/oauth/callback #para rodar em prd
JWT_SECRET=chave_jwt
FRONT_URL=http://localhost #DEV
# FRONT_URL=https://upload-redeamericas.s4me.app #PROD

# credenciais do banco de dados
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_SCHEMA=