# bucket s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_BUCKET_NAME=
PRESIGNED_URL_EXPIRES_IN=604800 # 7 dias em segundos (máximo AWS S3 presigned URL)

# auth PKCE GENESYS
GENESYS_CLIENT_ID=
GENESYS_REGION=sae1.pure.cloud
GENESYS_OAUTH_REDIRECT_URI=http://localhost:3000/oauth/callback
JWT_SECRET=
FRONT_URL=http://localhost